<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vkefu.webim.web.dao.ChatOfflineMessageDAO">
  <resultMap id="BaseResultMap" type="com.vkefu.webim.web.beans.ChatOfflineMessage">
    <id column="message_id" jdbcType="BIGINT" property="messageId" />
    <result column="tenant_id" jdbcType="VARCHAR" property="tenantId" />
    <result column="session_id" jdbcType="VARCHAR" property="sessionId" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="from_id" jdbcType="VARCHAR" property="fromId" />
    <result column="from_name" jdbcType="VARCHAR" property="fromName" />
    <result column="message_from" jdbcType="INTEGER" property="messageFrom" />
    <result column="message_type" jdbcType="VARCHAR" property="messageType" />
    <result column="message_time" jdbcType="VARCHAR" property="messageTime" />
    <result column="message" jdbcType="VARCHAR" property="message" />
  </resultMap>
  <sql id="Base_Column_List">
    message_id, tenant_id, session_id, source, from_id, from_name, message_from, message_type, 
    message_time, message
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cs_chat_offline_message
    where message_id = #{messageId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cs_chat_offline_message
    where message_id = #{messageId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.vkefu.webim.web.beans.ChatOfflineMessage">
    insert into cs_chat_offline_message (message_id, tenant_id, session_id, 
      source, from_id, from_name, 
      message_from, message_type, message_time, 
      message)
    values (#{messageId,jdbcType=BIGINT}, #{tenantId,jdbcType=VARCHAR}, #{sessionId,jdbcType=VARCHAR}, 
      #{source,jdbcType=VARCHAR}, #{fromId,jdbcType=VARCHAR}, #{fromName,jdbcType=VARCHAR}, 
      #{messageFrom,jdbcType=INTEGER}, #{messageType,jdbcType=VARCHAR}, #{messageTime,jdbcType=VARCHAR}, 
      #{message,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.vkefu.webim.web.beans.ChatOfflineMessage">
    insert into cs_chat_offline_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="messageId != null">
        message_id,
      </if>
      <if test="tenantId != null">
        tenant_id,
      </if>
      <if test="sessionId != null">
        session_id,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="fromId != null">
        from_id,
      </if>
      <if test="fromName != null">
        from_name,
      </if>
      <if test="messageFrom != null">
        message_from,
      </if>
      <if test="messageType != null">
        message_type,
      </if>
      <if test="messageTime != null">
        message_time,
      </if>
      <if test="message != null">
        message,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="messageId != null">
        #{messageId,jdbcType=BIGINT},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="sessionId != null">
        #{sessionId,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="fromId != null">
        #{fromId,jdbcType=VARCHAR},
      </if>
      <if test="fromName != null">
        #{fromName,jdbcType=VARCHAR},
      </if>
      <if test="messageFrom != null">
        #{messageFrom,jdbcType=INTEGER},
      </if>
      <if test="messageType != null">
        #{messageType,jdbcType=VARCHAR},
      </if>
      <if test="messageTime != null">
        #{messageTime,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        #{message,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vkefu.webim.web.beans.ChatOfflineMessage">
    update cs_chat_offline_message
    <set>
      <if test="tenantId != null">
        tenant_id = #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="sessionId != null">
        session_id = #{sessionId,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="fromId != null">
        from_id = #{fromId,jdbcType=VARCHAR},
      </if>
      <if test="fromName != null">
        from_name = #{fromName,jdbcType=VARCHAR},
      </if>
      <if test="messageFrom != null">
        message_from = #{messageFrom,jdbcType=INTEGER},
      </if>
      <if test="messageType != null">
        message_type = #{messageType,jdbcType=VARCHAR},
      </if>
      <if test="messageTime != null">
        message_time = #{messageTime,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        message = #{message,jdbcType=VARCHAR},
      </if>
    </set>
    where message_id = #{messageId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vkefu.webim.web.beans.ChatOfflineMessage">
    update cs_chat_offline_message
    set tenant_id = #{tenantId,jdbcType=VARCHAR},
      session_id = #{sessionId,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      from_id = #{fromId,jdbcType=VARCHAR},
      from_name = #{fromName,jdbcType=VARCHAR},
      message_from = #{messageFrom,jdbcType=INTEGER},
      message_type = #{messageType,jdbcType=VARCHAR},
      message_time = #{messageTime,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR}
    where message_id = #{messageId,jdbcType=BIGINT}
  </update>
</mapper>